<div id="contact" class="section-cta password wf-section">
    <div class="form-wrap w-form">
      <div class="text-block">{{ texts.5a5ddf8 }}</div>
      <form id="wf-form-concact" name="wf-form-concact" data-name="concact" action="https://formspree.io/f/xbjqzldd" method="post" class="form" data-ajax="true"><input type="text" class="form-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name" required=""><input type="email" class="form-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required=""><textarea id="field" name="field" maxlength="5000" data-name="Field" placeholder="Message" class="form-field w-input"></textarea><input type="submit" value="Send" data-wait="Please wait..." class="form-button w-button"></form>
      <div class="form-success w-form-done">
        <div>{{ texts.5a0ea5a1 }}</div>
      </div>
      <div class="form-error w-form-fail">
        <div>{{ texts.-7c112e99 }}</div>
      </div>
    </div>
    <div class="half-wrap left">
      <h1 class="heading-big dark">{{ texts.f7fdd82 }}</h1>
    </div>
    <div id="particles-js-3" class="half-wrap right img particles-container">
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="email" action="https://formspree.io/f/xbjqzldd" method="post" class="form" data-ajax="true"><input type="email" class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your Email" id="Email" required=""><select id="interest" name="interest" data-name="interest" required="" class="select-field w-select">
            <option value="no interest selected">{{ texts.-3ea46fa9 }}</option>
            <option value="On-Chain Synthetic derivatives">{{ texts.-419477bc }}</option>
            <option value="Stablecoin Staking">{{ texts.-178b0e1d }}</option>
            <option value="Cross-Chain Liquidity">{{ texts.-18246c9a }}</option>
          </select><input type="submit" value="Get in touch" data-wait="One sec..." class="button full-width w-button"></form>
        <div class="w-form-done">
          <div>{{ texts.5a0ea5a1 }}</div>
        </div>
        <div class="w-form-fail">
          <div>{{ texts.-7c112e99 }}</div>
        </div>
      </div>
    </div>
  </div>