<div class="section-footer wf-section">
    <div class="wrap-footer">
      <div class="copyright">{{ texts.bc566c9 }}</div>
      <div class="wrap-links-footer">
        <a href="{{ links.49a5eb8 }}" class="link">{{ texts.-29f92c17 }}</a>
        <a href="{{ links.-22215278 }}" class="link">{{ texts.-3fbde6f6 }}</a>
      </div>
    </div>
  </div>