<div class="section-header wf-section">
    <div data-w-id="b53c4eba-b68f-b7b7-f858-4418e5e42a53" class="loader"></div>
    <div class="wrap-navigation">
      <div class="wrap-desktop">
        <a href="{{ links.-7df93f1b }}" class="link">{{ texts.3c2336d }}</a>
        <a href="{{ links.5603369 }}" class="link">{{ texts.7f8f21f1 }}</a>
        <a href="{{ links.3070eebe }}" class="link">{{ texts.-110fda45 }}</a>
        <a href="{{ links.c7c10a6 }}" class="link">{{ texts.-65994dea }}</a>
        <a href="{{ links.6c80469d }}" class="link">{{ texts.-64104400 }}</a>
      </div>
      <div class="wrap-mobile"><img src="{{ images.-208f6db.url }}" loading="lazy" data-w-id="9f922a80-66ca-9781-9fd5-14acbd582a9e" alt="{{ images.-208f6db.alt | trim | escape }}" class="img-hamburger">
        <div class="wrap-mobile-menu">
          <a href="{{ links.-7df93f1b }}" class="link mobile">{{ texts.3c2336d }}</a>
          <a href="{{ links.5603369 }}" class="link mobile">{{ texts.7f8f21f1 }}</a>
          <a href="{{ links.19dc4676 }}" class="link mobile">{{ texts.-110fda45 }}</a>
          <a href="{{ links.-1b4bfb95 }}" class="link mobile">{{ texts.-65994dea }}</a>
          <a href="{{ links.2885e1de }}" class="link mobile">{{ texts.-64104400 }}</a>
        </div>
      </div>
    </div>
    <div class="half-wrap logo"><img src="{{ images.53c5c69f.url }}" loading="lazy" data-w-id="192b5142-0daa-66ab-4231-2e284a70db65" alt="{{ images.53c5c69f.alt | trim | escape }}" class="logo-header">
      <div class="key-visual bottom"></div>
      <div class="key-visual top"></div>
    </div>
    <div id="particles-js-1" class="half-wrap particles-container hero"><img src="{{ images.-4ee6c326.url }}" loading="lazy" alt="{{ images.-4ee6c326.alt | trim | escape }}" class="logo-half"></div>
  </div>