<div data-w-id="bbe1967e-2df0-eddf-43ba-c69e7238358d" class="popup-wrap"><img src="{{ images.e51d1be.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;13px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.e51d1be.alt | trim | escape }}" class="popup-icon">
    <div class="popup-wrap-text">
      <p class="popup-paragraph">{{ texts.-63fe3f2a }}<br>{{ texts.47024107 }}</p>
      <div class="popup-legend">{{ texts.61895c95 }}</div>
    </div><img src="{{ images.241fee59.url }}" loading="lazy" data-w-id="bbe1967e-2df0-eddf-43ba-c69e72383596" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;10px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.241fee59.alt | trim | escape }}" class="popup-icon close">
  </div>