<div data-w-id="bbe1967e-2df0-eddf-43ba-c69e7238358d" class="popup-wrap"><img src="{{ images.e51d1be.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;13px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.e51d1be.alt | trim | escape }}" class="popup-icon">
    <div class="popup-wrap-text">
      <div class="popup-legend">{{ texts.61895c95 }}</div>
    </div>
    <div data-w-id="93197a24-8489-ee9a-ea7d-92943653ae29" class="div-block"><img src="{{ images.241fee59.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;8px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.241fee59.alt | trim | escape }}" class="popup-icon close"></div>
  </div>